

div.outset {

  border-style: solid;
  border-color: blue;
  border-width: medium;

  padding: 10px;
}


div.profileborder {

  border-style: solid;
  border-color: gray;
  border-width: thin;
  margin: 10px;
  padding: 10px;
}

div.addevents {

  border-style: solid;
  border-color: gray;
  border-width: medium;
  margin: 10px;
  padding: 10px;
}


div.myfooter {

  background-color: white;
}

body.profilebody {

  background-color:lightblue;
}
